---
import Button from "../component/Button.astro";
import Header from "../component/Header.astro";
---

<html>
    <head>
        <title>Omiete John-lewis</title>
    </head>
    <body class="h-screen m-0 p-0 box-border font-mono">
        <Header />
        <Button>Hello, World</Button>
    </body>
</html>