---
import { Icon } from "astro-icon"
---
<style lang="css">
    [astro-icon="mdi:github"] {
        color: rgb(0, 0, 0);
        height: 1rem;
        width: 1rem;
    }

    [astro-icon="mdi:github"]:hover {
        color: rgb(0 0 0 /0.25);
    }
</style>

<header class="container mx-auto px-4 py-4 sm:container sm:mx-auto sm:px-4 sm:py-4 md:container md:mx-auto md:px-6 md:py-6 lg:container lg:mx-auto lg:px-8 lg:py-8
 flex justify-between items-center h-16">
 <a href="https://omiete.vercel.app">
    <h1 class="font-bold font-mono text-2xl md:text-3xl lg:text-4xl">omiete.</h1>
 </a>
         
 <a href="https://github.com/oj-lewis">
     <Icon name="mdi:github"/>
     <!-- github -->
 </a>

</header>