---
import { Icon } from "astro-icon"
---
<style>

    [astro-icon="mdi:github"], 
    [astro-icon="mdi:twitter"] {
        color: rgb(168 85 247);
        height: 2rem;
        width: 2rem;
        padding: 1rem;
    }

</style>
<header class="flex items-center justify-between h-16 border-y-2 divide-purple-500 w-full p-4">
    <h1 class="text-purple-500 text-3xl font-bold">omiete.</h1>
    <div class="flex divide-x-2 divide-purple-500">
        <Icon name="mdi:twitter" />
        <Icon name="mdi:github" />

    </div>
</header>